{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Credential Manager - Edit Refresh Token - {{ refresh_token.app_name }} - {{ refresh_token.redditor }}{% endblock %}
{% block bread_crumbs %}
    <!--suppress HtmlUnknownTarget -->
    {% if user and (current_user.is_admin or current_user.is_internal or refresh_token.check_owner(current_user)) %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}/refresh_tokens/">Refresh Tokens</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/refresh_tokens/">Refresh Tokens</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/refresh_tokens/{{ refresh_token.id }}">{{ refresh_token.app_name }} - {{ refresh_token.redditor }}</a></li>
{% endblock %}
{% block active_item %}active item{% endblock %}
{% block content %}
    <!--suppress ALL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <body>
    <div class="container">
        {#        <div class="row justify-content-lg-center">#}
        {#            <div class="col-lg-4">#}
        <div class="jumbotron">
            <h4>Refresh Token Info</h4>
            <hr style="border-top: 1px solid">
            {% for attr, display_name in refresh_token._info_attrs.items() %}
                <strong>{{ display_name }}:</strong>
                <br>
                {% if attr == 'owner' and not refresh_token.check_owner(current_user) and (current_user.is_admin or current_user.is_internal) %}
                    <a href="/u/{{ refresh_token.get_info_attr(attr).username }}">{{ refresh_token.get_info_attr(attr).username }}</a>
                    <br>
                    <br>
                {% elif refresh_token.get_info_attr(attr).__class__.__name__ == 'datetime' %}
                    <a>{{ moment(refresh_token.get_info_attr(attr)).format(' MM/DD/YYYY, h:mm:ss a') }}</a>
                    <br>
                    <br>
                {% elif attr == 'reddit_app' %}
                    <a href="/reddit_apps/{{ refresh_token.get_info_attr(attr).id }}">{{ refresh_token.get_info_attr(attr).app_name }}</a>
                    <br>
                    <br>
                {% elif attr == 'refresh_token' %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" style="background-color: grey;color: lightgray" readonly="" value="{{ refresh_token.get_info_attr(attr) }}" aria-describedby="copy_box">
                        <div class="input-group-append">
                            <button class="input-group-text btn-dark" type="button" onclick="copy(this)" id="copy_box"><a class="fas fa-clipboard"></a></button>
                        </div>
                    </div>
                {% elif attr == 'revoked_at' %}
                    <a>{% if refresh_token.get_info_attr(attr) %}{{ refresh_token.get_info_attr(attr) }}{% else %}Never{% endif %}</a>
                    <br>
                    <br>
                {% elif attr == 'scopes' %}
                    <div class="container">
                        {% for row in refresh_token.chunk_scopes %}
                            <div class="row">
                                {% for scope, enabled, description in row %}
                                    <div class="col-sm-3">
                                        <div class="container">
                                            {{ scope }}<sup><span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip" title="" data-original-title="{{ description }}"><i class="far fa-question-circle"></i></span></sup>
                                            {% if enabled %}
                                                <span><i class="fas fa-check-circle" style="font-size: 20px; color: #00bc8c"></i></span>
                                            {% else %}
                                                <span class="d-inline-block"><i class="fas fa-times-circle" style="font-size: 20px; color: #00bc8c"></i></span>
                                                {#                                        <div class="col-sm"><a class="fas fa-times" style="font-size: 28px; color: #e74c3c"><span class="tooltiptext">{{ description }}</span></a></div>#}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                {% else %}
                    <a>{{ refresh_token.get_info_attr(attr) }}</a>
                    <br>
                    <br>
                {% endif %}
            {% endfor %}
            <button class="btn btn-danger" id="delete" data-target="#confirmation_modal" onclick="show_delete_modal('{{ refresh_token.app_name }}', 'refresh_tokens', {{ refresh_token.id }})" data-toggle="modal">Delete</button>
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
    </body>
{% endblock %}
