{% extends "base.html" %}
{% block title %}Credential Manager Manager - Refresh Tokens{% endblock %}
{% block breadCrumbs %}
    {% if request.full_path.startswith('/profile') %}
        <li class="breadcrumb-item"><a href=/profile>Profile</a></li>
    {% elif user %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href=/u/{{ user.username }}>{{ user.username }}</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href={{ url_for('refresh_tokens.refresh_tokens') }}>Refresh Tokens</a></li>
{% endblock %}
{% block content %}
    <body>
    <script src="{{ url_for('refresh_tokens.static', filename='js/refresh_tokens.js') }}"></script>
    {% include 'refresh_tokensTable.html' with context %}
    </body>
{% endblock %}
