{% import 'macros.html' as macros %}

<div class="container">
    <div class="table-responsive">
        {{ user_verificationsTable }}
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="createUserVerification" data-toggle="modal" data-target="#createUserVerificationModal">Create User Verification</button>
        </div>
        {% include 'paginator.html' %}
    </div>
    <div class="modal fade" id="createUserVerificationModal" tabindex="-1" role="dialog" aria-labelledby="createUserVerificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserVerificationModalLabel">Create User Verification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="createUserVerificationForm" method="post" resource="{% if user %}/u/{{ user.username }}{% endif %}/refresh_tokens/verifications">
                        {{ user_verificationsForm.hidden_tag() }}
                        {% for fieldName in user_verificationsForm.Meta.fields %}
                            {% if fieldName.__class__.__name__ == 'list' %}
                                {{ macros.formRow(user_verificationsForm, fieldName) }}
                            {% elif fieldName == 'app_type' %}
                                <div class="form-group">
                                    {{ user_verificationsForm[fieldName].label }}
                                    {{ user_verificationsForm[fieldName](class_="custom-select") }}
                                    <small id="headerHelp" class="form-text text-muted">{{ user_verificationsForm[fieldName].description }}</small>
                                </div>
                            {% elif fieldName == 'enabled' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ user_verificationsForm[fieldName](checked=True, class_="custom-control-input") }}
                                        {{ user_verificationsForm[fieldName].label(class_='custom-control-label') }}
                                        <small id="headerHelp" class="form-text text-muted">{{ user_verificationsForm[fieldName].description }}</small>
                                    </div>
                                </div>
                            {% elif fieldName == 'redirect_uri' %}
                                <div class="form-group">
                                    {{ user_verificationsForm[fieldName].label }}
                                    {% if user %}
                                        {% set redirectUri = user.getDefault('redirect_uri') %}
                                    {% else %}
                                        {% set redirectUri = current_user.getDefault('redirect_uri') %}
                                    {% endif %}
                                    {% if user_verificationsForm[fieldName].errors %}
                                        {{ user_verificationsForm[fieldName](value=redirectUri, size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in user_verificationsForm[fieldName].errors %}
                                            <div class="invalid-feedback" id="{{ fieldName }}Feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ user_verificationsForm[fieldName](value=redirectUri, size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                    <small id="headerHelp" class="form-text text-muted">{{ user_verificationsForm[fieldName].description }}</small>
                                </div>
                            {% elif fieldName == 'user_agent' %}
                                <div class="form-group">
                                    {{ user_verificationsForm[fieldName].label }}
                                    {% if user_verificationsForm[fieldName].errors %}
                                        {{ user_verificationsForm[fieldName](value=user_agent, size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in user_verificationsForm[fieldName].errors %}
                                            <div class="invalid-feedback" id="{{ fieldName }}Feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ user_verificationsForm[fieldName](value=user_agent, size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                    <small id="headerHelp" class="form-text text-muted">{{ user_verificationsForm[fieldName].description }}</small>
                                </div>
                            {% else %}
                                {{ macros.textField(user_verificationsForm, fieldName) }}
                            {% endif %}
                        {% endfor %}
                        <div class="form-group" {% if not current_user.is_admin and not current_user.is_internal %}hidden{% endif %}>
                            {{ user_verificationsForm.owner.label }}
                            {{ user_verificationsForm.owner(class_="custom-select", default=user or current_user) }}
                            <small id="headerHelp" class="form-text text-muted">{{ user_verificationsForm.owner.description }}</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" tabindex="0" data-dismiss="modal">Cancel</button>
                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" onclick="createItem(this, 'createUserVerificationForm', '{% if user %}/u/{{ user.username }}{% endif %}/user_verifications')" id="UserVerificationCreate">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#user_verifications_table").tablesorter({
            theme: "bootstrap",
            cancelSelection: false,
            sortReset: true
        });
    </script>
</div>