{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Credential Manager - {% if current_user.is_admin or current_user.is_internal %}{{ user.username }}{% else %}Profile{% endif %}{% endblock %}
{% block breadCrumbs %}
    <!--suppress HtmlUnknownTarget -->
    {% if current_user.is_admin or current_user.is_internal %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}">{{ user.username }}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}">Profile</a></li>
    {% endif %}
{% endblock %}
{% block activeItem %}active item{% endblock %}
{% block content %}
    <!--suppress ALL -->
    <script src="{{ url_for('users.static', filename='js/edit_user.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <body>
    <div class="container">
        <ul class="nav nav-tabs" id="userTab">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="tab_settings" href="#settings" aria-controls="settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="tab_bots" href="#bots" aria-controls="bots">Bots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="tab_reddit_apps" href="#reddit_apps" aria-controls="reddit_apps">Reddit Apps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="tab_sentry_tokens" href="#sentry_tokens" aria-controls="sentry_tokens">Sentry Tokens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="tab_database_credentials" href="#database_credentials" aria-controls="database_credentials">Database Credentials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="tab_api_tokens" href="#api_tokens" aria-controls="api_tokens">API Tokens</a>
            </li>
        </ul>
        <div class="tab-content py-3">
            <div class="tab-pane active" id="settings">
                <div class="container">
                    <div class="row justify-content-lg-center">
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <h4>User Info</h4>
                                <hr style="border-top: 1px solid" ;>
                                {% for attr, displayName in user._infoAttrs.items() %}
                                    {% if attr in ['createdBy.username', 'updatedBy.username'] and (current_user.is_admin or current_user.is_internal) %}
                                        <strong>{{ displayName }}:</strong><br><a href="/u/{{ user.getInfoAttr(attr) }}">{{ user.getInfoAttr(attr) }}</a><sup><span class="d-inline-block" style="opacity: 0.6" tabindex="0" data-toggle="tooltip" title="" data-original-title="{{ attr.split('By')[0].capitalize() }} at: {{ user.getInfoAttr(attr.split('By')[0]).strftime('%m/%d/%Y %I:%M:%S %p') }}"><i class="far fa-question-circle"></i></span></sup><br><br>
                                    {% elif 'count' in attr %}
                                        <strong>{{ displayName }}:</strong><br><a href="/u/{{ user.username }}/{{ attr.split('.')[0] }}">{{ user.getInfoAttr(attr) }}</a><br><br>
                                    {% else %}
                                        <strong>{{ displayName }}:</strong><br><a>{{ user.getInfoAttr(attr) }}</a><br><br>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <form id="editUserForm" method="post" onsubmit="doneSave('save', this)">
                                {{ usersForm.hidden_tag() }}
                                <input id="itemType" name="itemType" type="hidden" value="{{ user.__tablename__ }}">
                                <input id="itemId" name="itemId" type="hidden" value="{{ user.id }}">
                                <div class="form-group">
                                    {{ usersForm.username.label }}
                                    {% if usersForm.username.errors %}
                                        {{ usersForm.username(size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in usersForm.username.errors %}
                                            <div class="invalid-feedback" id="usernameFeedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ usersForm.username(size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ usersForm.reddit_username.label }}
                                    {% if usersForm.reddit_username.errors %}
                                        {{ usersForm.reddit_username(size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in usersForm.reddit_username.errors %}
                                            <div class="invalid-feedback" id="reddit_usernameFeedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ usersForm.reddit_username(size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ usersForm.updatePassword(class_="custom-control-input", hiddenObject='passwordField', forFields=[usersForm.password]) }}
                                        {{ usersForm.updatePassword.label(class_='custom-control-label') }}
                                        <small id="headerHelp" class="form-text text-muted">Check to update password</small>
                                    </div>
                                </div>
                                <div class="form-group" id="passwordField" hidden>
                                    {{ usersForm.password.label }}
                                    {{ usersForm.password(size=16, class_="form-control", type='text', oninvalid="invalidateField(this)") }}
                                </div>
                                <div class="form-group">
                                    <label for="custom_settings">Default Settings</label>
                                    <div id="custom_settings"></div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/json-editor/0.7.28/jsoneditor.min.js" integrity="sha256-51+oMmpgSgS4jV5/DcGKnDHIOL6Jeie2i7ka6sPQVro=" crossorigin="anonymous"></script>
                                    <script>
                                        JSONEditor.defaults.options.theme = 'bootstrap3';

                                        var editor = new JSONEditor(document.getElementById("custom_settings"), {
                                            schema: {
                                                "type": "array",
                                                "format": "table",
                                                "title": null,
                                                "uniqueItems": true,
                                                "items": {
                                                    "type": "object",
                                                    "title": "Setting",
                                                    "properties": {
                                                        "Setting": {
                                                            "type": "string",
                                                            "enum": [
                                                                "database_flavor",
                                                                "database_host",
                                                                "ssh_host",
                                                                "ssh_user",
                                                                "user_agent"
                                                            ]
                                                        },
                                                        "Default Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "default": {{ defaultSettings|safe }}
                                            }
                                        });
                                    </script>
                                    <br>
                                </div>
                                <style>
                                    #custom_settings > div > h3 {
                                        display: none !important;
                                    }
                                </style>
                                <div class="form-group" {% if not current_user.is_admin or not current_user.is_internal %}hidden{% endif %}>
                                    <div class="custom-control custom-switch">
                                        {{ usersForm.is_admin(default=user.is_admin, class_="custom-control-input") }}
                                        {{ usersForm.is_admin.label(class_='custom-control-label') }}
                                        <small id="headerHelp" class="form-text text-muted">Enables the user to create other admins and view other users' data</small>
                                    </div>
                                </div>
                                {% if current_user.is_internal %}
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            {{ usersForm.is_internal(default=user.is_internal, class_="custom-control-input") }}
                                            {{ usersForm.is_internal.label(class_='custom-control-label') }}
                                            <small id="headerHelp" class="form-text text-muted">Internal user, not intended for regular use</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            {{ usersForm.is_regular_user(default=user.is_regular_user, class_="custom-control-input") }}
                                            {{ usersForm.is_regular_user.label(class_='custom-control-label') }}
                                            <small id="headerHelp" class="form-text text-muted">Regular user, allows user to sign in; non system user</small>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group" {% if not current_user.is_admin or not current_user.is_internal %}hidden{% endif %}>
                                    <div class="custom-control custom-switch">
                                        {{ usersForm.is_active(default=user.is_active, class_="custom-control-input") }}
                                        {{ usersForm.is_active.label(class_='custom-control-label') }}
                                        <small id="headerHelp" class="form-text text-muted">Enables the user to sign in and use the API</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" name="save" onclick="saveItem(this)" id="save" value="save">Save</button>
                                    {% if current_user.is_admin or current_user.is_internal %}
                                        <button class="btn btn-danger" id="delete" data-target="#confirmationModal" onclick="showDeleteModal('{{ user.username }}', 'users', {{ user.id }})" data-toggle="modal">Delete User</button>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bots">
                <div class="container">
                    {% include 'botsTable.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="reddit_apps">
                <div class="container">
                    {% include 'reddit_appsTable.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="sentry_tokens">
                <div class="container">
                    {% include 'sentry_tokensTable.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="database_credentials">
                <div class="container">
                    {% include 'database_credentialsTable.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="api_tokens">
                <div class="container">
                    {% include 'api_tokensTable.html' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var activeTab = document.getElementsByClassName('nav-link active')[0].ariaControls;
            var hash = document.location.hash;
            if (hash) {
                $(`#${activeTab}`).removeClass('active');
                $(`#${activeTab}`).removeClass('active');
                $(`#${hash}`).addClass('active show');
                $(`#tab_${hash}`).addClass('active')
            }
        })
    </script>
    </body>
{% endblock %}