<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authenticated Successfully</title>
</head>
<body>
<p>
    <a href="https://www.reddit.com/user/{{ user }}">{{ user }}</a>{% if app %} you have authenticated with {{ app }}{% else %} Authenticated Successfully!{% endif %}
</p>
<p>Redirecting to Reddit after <span id="countdown">10</span> seconds...</p>
<p>
   <script type="text/javascript">
       function countdown(){(seconds-=1)<0?window.location="https://www.reddit.com":(document.getElementById("countdown").innerHTML=seconds,window.setTimeout("countdown()",1e3))}var seconds=10;countdown();
   </script>
</p>
</body>
</html>