{% import 'macros.html' as macros %}
<div class="container">
    <div class="table-responsive">
        {{ reddit_appsTable }}
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="createRedditApp" data-toggle="modal" data-target="#createRedditAppModal">Create Reddit App</button>
        </div>
        {% include 'paginator.html' %}
    </div>
    <div class="modal fade" id="createRedditAppModal" tabindex="-1" role="dialog" aria-labelledby="createRedditAppModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRedditAppModalLabel">Create Reddit App</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="createRedditAppForm" method="post" resource="{% if user %}/u/{{ user.username }}{% endif %}/reddit_apps">
                        {{ reddit_appsForm.hidden_tag() }}
                        {% for fieldName in reddit_appsForm.Meta.fields %}
                            {% if fieldName.__class__.__name__ == 'list' %}
                                {{ macros.formRow(reddit_appsForm, fieldName) }}
                            {% elif fieldName == 'app_type' %}
                                <div class="form-group">
                                    {{ reddit_appsForm[fieldName].label }}
                                    {{ reddit_appsForm[fieldName](class_="custom-select") }}
                                    <small id="{{ reddit_appsForm[fieldName].id }}Help" class="form-text text-muted">{{ reddit_appsForm[fieldName].description }}</small>
                                </div>
                            {% elif fieldName == 'enabled' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ reddit_appsForm[fieldName](checked=True, class_="custom-control-input") }}
                                        {{ reddit_appsForm[fieldName].label(class_='custom-control-label') }}
                                        <small id="{{ reddit_appsForm[fieldName].id }}Help" class="form-text text-muted">{{ reddit_appsForm[fieldName].description }}</small>
                                    </div>
                                </div>
                            {% elif fieldName == 'redirect_uri' %}
                                <div class="form-group">
                                    {{ reddit_appsForm[fieldName].label }}
                                    {% if user %}
                                        {% set redirectUri = user.getDefault('redirect_uri') %}
                                    {% else %}
                                        {% set redirectUri = current_user.getDefault('redirect_uri') %}
                                    {% endif %}
                                    {% if reddit_appsForm[fieldName].errors %}
                                        {{ reddit_appsForm[fieldName](value=redirectUri, size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in reddit_appsForm[fieldName].errors %}
                                            <div class="invalid-feedback" id="{{ fieldName }}Feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ reddit_appsForm[fieldName](value=redirectUri, size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                    <small id="{{ reddit_appsForm[fieldName].id }}Help" class="form-text text-muted">{{ reddit_appsForm[fieldName].description }}</small>
                                </div>
                            {% elif fieldName == 'user_agent' %}
                                <div class="form-group">
                                    {{ reddit_appsForm[fieldName].label }}
                                    {% if user %}
                                        {% set user_agent = user.getDefault('user_agent') %}
                                    {% else %}
                                        {% set user_agent = current_user.getDefault('user_agent') %}
                                    {% endif %}
                                    {% if reddit_appsForm[fieldName].errors %}
                                        {{ reddit_appsForm[fieldName](value=user_agent, size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                        {% for error in reddit_appsForm[fieldName].errors %}
                                            <div class="invalid-feedback" id="{{ fieldName }}Feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ reddit_appsForm[fieldName](value=user_agent, size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% endif %}
                                    <small id="{{ reddit_appsForm[fieldName].id }}Help" class="form-text text-muted">{{ reddit_appsForm[fieldName].description }}</small>
                                </div>
                            {% else %}
                                {{ macros.textField(reddit_appsForm, fieldName) }}
                            {% endif %}
                        {% endfor %}
                        <div class="form-group" {% if not current_user.is_admin and not current_user.is_internal %}hidden{% endif %}>
                            {{ reddit_appsForm.owner.label }}
                            {{ reddit_appsForm.owner(class_="custom-select", default=user or current_user) }}
                            <small id="{{ reddit_appsForm.owner.id }}Help" class="form-text text-muted">{{ reddit_appsForm.owner.description }}</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" tabindex="0" data-dismiss="modal">Cancel</button>
                            {#                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" id="redditAppCreateNew">Add and New</button>#}
                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" onclick="createItem(this, 'createRedditAppForm', '{% if user %}/u/{{ user.username }}{% endif %}/reddit_apps')" id="redditAppCreate">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if enable_tablesorter %}
        <script>
            $("#reddit_apps_table").tablesorter({
                theme: "bootstrap",
                cancelSelection: false,
                sortReset: true
            });
        </script>
    {% endif %}
</div>