{% extends "base.html" %}
{% block title %}Credential Manager - Bots{% endblock %}
{% block breadCrumbs %}
    {% if request.full_path.startswith('/profile') %}
        <li class="breadcrumb-item"><a href=/profile>Profile</a></li>
    {% elif user %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href=/u/{{ user.username }}>{{ user.username }}</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href={{ url_for('bots.bots') }}>Bots</a></li>
{% endblock %}
{% block content %}
    <body>
    <script src="{{ url_for('bots.static', filename='js/bots.js') }}"></script>
    {% include 'botsTable.html' %}
{% endblock %}
