{% import 'macros.html' as macros %}
<div class="container">
    <div class="table-responsive">
        {{ database_credentialsTable }}
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="createDatabaseCredential" data-toggle="modal" data-target="#createDatabaseCredentialModal">Create Database Credential</button>
        </div>
        {% include 'paginator.html' %}
    </div>
    <div class="modal fade" id="createDatabaseCredentialModal" tabindex="-1" role="dialog" aria-labelledby="createDatabaseCredentialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createDatabaseCredentialModalLabel">Create Database Credential</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="createDatabaseCredentialForm" method="post" resource="{% if user %}/u/{{ user.username }}{% endif %}/database_credentials">
                        {{ database_credentialsForm.hidden_tag() }}
                        {% for fieldName in database_credentialsForm.Meta.fields %}
                            {% if fieldName in [['ssh_host', 'ssh_port'], ['ssh_username', 'ssh_password'], 'private_key', 'private_key_passphrase'] %}
                                {% continue %}
                            {% elif fieldName.__class__.__name__ == 'list' %}
                                {{ macros.formRow(database_credentialsForm, fieldName) }}
                            {% elif fieldName == 'use_ssh' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentialsForm.use_ssh(class_="custom-control-input", hiddenObject='sshGroup', forFields=[database_credentialsForm.ssh_host, database_credentialsForm.ssh_port, database_credentialsForm.ssh_username, database_credentialsForm.ssh_password]) }}
                                        {{ database_credentialsForm.use_ssh.label(class_='custom-control-label') }}
                                        {% if database_credentialsForm.use_ssh.description %}
                                            <small id="headerHelp" class="form-text text-muted">{{ database_credentialsForm.use_ssh.description }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="sshGroup" {% if not database_credentialsForm.use_ssh.data %}hidden{% endif %}>
                                    {% for fieldName in [['ssh_host', 'ssh_port'], ['ssh_username', 'ssh_password']] %}
                                        {{ macros.formRow(database_credentialsForm, fieldName) }}
                                    {% endfor %}
                                </div>
                            {% elif fieldName == 'use_ssh_key' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentialsForm.use_ssh_key(class_="custom-control-input", hiddenObject='ssh_keyGroup', forFields=[database_credentialsForm.private_key, database_credentialsForm.private_key_passphrase]) }}
                                        {{ database_credentialsForm.use_ssh_key.label(class_='custom-control-label') }}
                                        {% if database_credentialsForm.use_ssh_key.description %}
                                            <small id="headerHelp" class="form-text text-muted">{{ database_credentialsForm.use_ssh_key.description }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="ssh_keyGroup" {% if not database_credentialsForm.use_ssh.data %}hidden{% endif %}>
                                    {% for fieldName in ['private_key', 'private_key_passphrase'] %}
                                        {{ macros.textField(database_credentialsForm, fieldName) }}
                                    {% endfor %}
                                </div>
                            {% elif fieldName == 'enabled' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentialsForm[fieldName](checked=True, class_="custom-control-input") }}
                                        {{ database_credentialsForm[fieldName].label(class_='custom-control-label') }}
                                        <small id="headerHelp" class="form-text text-muted">{{ database_credentialsForm[fieldName].description }}</small>
                                    </div>
                                </div>
                            {% else %}
                                {{ macros.textField(database_credentialsForm, fieldName) }}
                            {% endif %}
                        {% endfor %}
                        <div class="form-group" {% if not current_user.is_admin and not current_user.is_internal %}hidden{% endif %}>
                            {{ database_credentialsForm.owner.label }}
                            {{ database_credentialsForm.owner(class_="custom-select", default=user or current_user) }}
                            <small id="headerHelp" class="form-text text-muted">{{ database_credentialsForm.owner.description }}</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" tabindex="0" data-dismiss="modal">Cancel</button>
                            {#                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" id="DatabaseCredentialCreateNew">Add and New</button>#}
                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" onclick="createItem(this, 'createDatabaseCredentialForm', '{% if user %}/u/{{ user.username }}{% endif %}/database_credentials')" id="DatabaseCredentialCreate">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#database_credentials_table").tablesorter({
            theme: "bootstrap",
            cancelSelection: false,
            sortReset: true
        });
    </script>
</div>