{% import 'macros.html' as macros %}
<div class="container">
    <div class="table-responsive">
        {{ database_credentials_table }}
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="create_database_credential" data-toggle="modal" data-target="#create_database_credential_modal">Create Database Credential</button>
        </div>
        {% include 'paginator.html' %}
    </div>
    <div class="modal fade" id="create_database_credential_modal" tabindex="-1" role="dialog" aria-labelledby="create_database_credential_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_database_credential_modalLabel">Create Database Credential</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="create_database_credential_form" method="post" resource="{% if user %}/u/{{ user.username }}{% endif %}/database_credentials">
                        {{ database_credentials_form.hidden_tag() }}
                        {% for field_name in database_credentials_form.Meta.fields %}
                            {% if field_name in [['ssh_host', 'ssh_port'], ['ssh_username', 'ssh_password'], 'private_key', 'private_key_passphrase'] %}
                                {% continue %}
                            {% elif field_name.__class__.__name__ == 'list' %}
                                {{ macros.form_row(database_credentials_form, field_name) }}
                            {% elif field_name == 'use_ssh' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentials_form.use_ssh(class_="custom-control-input", hidden_object='ssh_group', for_fields=[database_credentials_form.ssh_host, database_credentials_form.ssh_port, database_credentials_form.ssh_username, database_credentials_form.ssh_password]) }}
                                        {{ database_credentials_form.use_ssh.label(class_='custom-control-label') }}
                                        {% if database_credentials_form.use_ssh.description %}
                                            <small id="{{ database_credentials_form.use_ssh.id }}Help" class="form-text text-muted">{{ database_credentials_form.use_ssh.description }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="ssh_group" {% if not database_credentials_form.use_ssh.data %}hidden{% endif %}>
                                    {% for field_name in [['ssh_host', 'ssh_port'], ['ssh_username', 'ssh_password']] %}
                                        {{ macros.form_row(database_credentials_form, field_name) }}
                                    {% endfor %}
                                </div>
                            {% elif field_name == 'use_ssh_key' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentials_form.use_ssh_key(class_="custom-control-input", hidden_object='ssh_keyGroup', for_fields=[database_credentials_form.private_key, database_credentials_form.private_key_passphrase]) }}
                                        {{ database_credentials_form.use_ssh_key.label(class_='custom-control-label') }}
                                        {% if database_credentials_form.use_ssh_key.description %}
                                            <small id="{{ database_credentials_form.use_ssh_key.id }}Help" class="form-text text-muted">{{ database_credentials_form.use_ssh_key.description }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="ssh_keyGroup" {% if not database_credentials_form.use_ssh.data %}hidden{% endif %}>
                                    {% for field_name in ['private_key', 'private_key_passphrase'] %}
                                        {{ macros.text_field(database_credentials_form, field_name) }}
                                    {% endfor %}
                                </div>
                            {% elif field_name == 'enabled' %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ database_credentials_form[field_name](checked=True, class_="custom-control-input") }}
                                        {{ database_credentials_form[field_name].label(class_='custom-control-label') }}
                                        <small id="{{ database_credentials_form[field_name].id }}Help" class="form-text text-muted">{{ database_credentials_form[field_name].description }}</small>
                                    </div>
                                </div>
                            {% else %}
                                {{ macros.text_field(database_credentials_form, field_name) }}
                            {% endif %}
                        {% endfor %}
                        <div class="form-group" {% if not current_user.is_admin and not current_user.is_internal %}hidden{% endif %}>
                            {{ database_credentials_form.owner.label }}
                            {{ database_credentials_form.owner(class_="custom-select", default=user or current_user) }}
                            <small id="{{ database_credentials_form.owner.id }}Help" class="form-text text-muted">{{ database_credentials_form.owner.description }}</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" tabindex="0" data-dismiss="modal">Cancel</button>
                            {#                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" id="DatabaseCredentialCreateNew">Add and New</button>#}
                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" onclick="create_item(this, 'create_database_credential_form', '{% if user %}/u/{{ user.username }}{% endif %}/database_credentials')" id="DatabaseCredentialCreate">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if enable_tablesorter %}
        <script>
            $("#database_credentials_table").tablesorter({
                theme: "bootstrap",
                cancelSelection: false,
                sortReset: true
            });
        </script>
    {% endif %}
</div>