{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Credential Manager - Edit Database Credential - {{ database_credential.app_name }}{% endblock %}
{% block bread_crumbs %}
    <!--suppress HtmlUnknownTarget -->
    {% if user and (current_user.is_admin or current_user.is_internal or database_credential.check_owner(current_user)) %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}/database_credentials/">Database Credentials</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/database_credentials/">Database Credentials</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/database_credentials/{{ database_credential.id }}">{{ database_credential.app_name }}</a></li>
{% endblock %}
{% block active_item %}active item{% endblock %}
{% block content %}
    <!--suppress ALL -->
    <script src="{{ url_for('database_credentials.static', filename='js/edit_database_credential.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <body>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-md-4">
                <div class="jumbotron">
                    <h4>Database Credential Info</h4>
                    <hr style="border-top: 1px solid" ;>
                    {% for attr, display_name in database_credential._info_attrs.items() %}
                        {% if attr == 'owner' and not database_credential.check_owner(current_user) and (current_user.is_admin or current_user.is_internal) %}
                            <strong>{{ display_name }}:</strong><br><a href="/u/{{ database_credential.get_info_attr(attr).username }}">{{ database_credential.get_info_attr(attr).username }}</a><br><br>
                        {% elif database_credential.get_info_attr(attr).__class__.__name__ == 'datetime' %}
                            <strong>{{ display_name }}:</strong><br><a>{{ moment(database_credential.get_info_attr(attr)).format(' MM/DD/YYYY, h:mm:ss a') }}</a><br><br>
                        {% else %}
                            <strong>{{ display_name }}:</strong><br><a>{{ database_credential.get_info_attr(attr) }}</a><br><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <form id="edit_database_credentialForm" method="post" onsubmit="done_save('save', this)">
                    {{ form.hidden_tag() }}
                    <input id="item_type" name="item_type" type="hidden" value="{{ database_credential.__tablename__ }}">
                    <input id="item_id" name="item_id" type="hidden" value="{{ database_credential.id }}">
                    <div class="form-group" hidden>
                        {{ form.owner.label }}
                        {{ form.owner(class_="custom-select", default=database_credential.owner, readonly=True) }}
                    </div>
                    {% for field_name in ['app_name', 'database_flavor', 'database_host', 'database_port', 'database_username', 'database_password', 'database'] %}
                        {{ macros.text_field(form, field_name) }}
                    {% endfor %}
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.use_ssh(class_="custom-control-input", hidden_object='ssh_group', for_fields=[form.ssh_host, form.ssh_port, form.ssh_username, form.ssh_password]) }}
                            {{ form.use_ssh.label(class_='custom-control-label') }}
                            {% if form.use_ssh.description %}
                                <small id="{{ form.use_ssh.id }}Help" class="form-text text-muted">{{ form.use_ssh.description }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div id="ssh_group" {% if not form.use_ssh.data %}hidden{% endif %}>
                        {% for field_name in ['ssh_host', 'ssh_port', 'ssh_username', 'ssh_password'] %}
                            {{ macros.text_field(form, field_name) }}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.use_ssh_key(class_="custom-control-input", hidden_object='ssh_keyGroup', for_fields=[form.private_key, form.private_key_passphrase]) }}
                            {{ form.use_ssh_key.label(class_='custom-control-label') }}
                            {% if form.use_ssh_key.description %}
                                <small id="{{ form.use_ssh_key.id }}Help" class="form-text text-muted">{{ form.use_ssh_key.description }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div id="ssh_keyGroup" {% if not form.use_ssh.data %}hidden{% endif %}>
                        {% for field_name in ['private_key', 'private_key_passphrase'] %}
                            {{ macros.text_field(form, field_name) }}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.enabled(default=database_credential.enabled, class_="custom-control-input") }}
                            {{ form.enabled.label(class_='custom-control-label') }}
                            <small id="enable_help" class="form-text text-muted">Enables this Database Credential to be used</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" name="save" onclick="save_item(this)" id="save" value="save">Save</button>
                    </div>
                </form>
                <button class="btn btn-danger" id="delete" data-target="#confirmation_modal" onclick="show_delete_modal('{{ database_credential.app_name }}', 'database_credentials', {{ database_credential.id }})" data-toggle="modal">Delete</button>
            </div>
        </div>
    </div>
    </body>
{% endblock %}