{% extends "base.html" %}
{% block title %}Credential Manager - Edit API Token - {{ api_token.name }}{% endblock %}
{% block bread_crumbs %}
    <!--suppress HtmlUnknownTarget -->
    {% if user and (current_user.is_admin or current_user.is_internal or api_token.check_owner(current_user)) %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item"><a href="/u/{{ user.username }}/api_tokens/">API Tokens</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/api_tokens/">API Tokens</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/api_tokens/{{ api_token.id }}">{{ api_token.name }}</a></li>
{% endblock %}
{% block active_item %}active item{% endblock %}
{% block content %}
    <!--suppress ALL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <body>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-md-4">
                <div class="jumbotron">
                    <h4>API Token Info</h4>
                    <hr style="border-top: 1px solid" ;>
                    {% for attr, display_name in api_token._info_attrs.items() %}
                        {% if attr == 'owner' and not api_token.check_owner(current_user) and (current_user.is_admin or current_user.is_internal) %}
                            <strong>{{ display_name }}:</strong><br><a href="/u/{{ api_token.get_info_attr(attr).username }}">{{ api_token.get_info_attr(attr).username }}</a><br><br>
                        {% elif api_token.get_info_attr(attr).__class__.__name__ == 'datetime' %}
                            <strong>{{ display_name }}:</strong><br><a>{{ moment(api_token.get_info_attr(attr)).format(' MM/DD/YYYY, h:mm:ss a') }}</a><br><br>
                        {% else %}
                            <strong>{{ display_name }}:</strong><br><a>{{ api_token.get_info_attr(attr) }}</a><br><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <form id="edit_api_tokenForm" method="post" onsubmit="done_save('save', this)">
                    {{ form.hidden_tag() }}
                    <input id="item_type" name="item_type" type="hidden" value="{{ api_token.__tablename__ }}">
                    <input id="item_id" name="item_id" type="hidden" value="{{ api_token.id }}">
                    <input id="token" name="token" type="hidden" value="{{ api_token.token }}">
                    <div class="form-group" hidden>
                        {{ form.owner.label }}
                        {{ form.owner(class_="custom-select", default=api_token.owner, readonly=True) }}
                    </div>
                    <div class="form-group">
                        {{ form.name.label }}
                        {% if form.name.errors %}
                            {{ form.name(size=16, class_="form-control is-invalid", onkeypress="clear_invalid_state(this)") }}
                            {% for error in form.name.errors %}
                                <div class="invalid-feedback" id="api_tokenFeedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            {{ form.name(size=16, class_="form-control", onkeypress="clear_invalid_state(this)") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="token" style="background-color: grey;color: lightgray" readonly value="{{ api_token.token }}" aria-describedby="copy_box">
                            <div class="input-group-append">
                                <button class="input-group-text btn-dark" type="button" onclick="copy(this)" id="copy_box"><a class="fas fa-clipboard"></a></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            {{ form.enabled(default=api_token.enabled, class_="custom-control-input") }}
                            {{ form.enabled.label(class_='custom-control-label') }}
                            <small id="enable_help" class="form-text text-muted">Enables this API Token to be used</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" name="save" onclick="save_item(this)" id="save" value="save">Save</button>
                    </div>
                </form>
                <button class="btn btn-danger" id="delete" data-target="#confirmation_modal" onclick="show_delete_modal('{{ api_token.name }}', 'api_tokens', {{ api_token.id }})" data-toggle="modal">Delete</button>
            </div>
        </div>
    </div>
    </body>
{% endblock %}