{% extends "base.html" %}
{% block title %}Credential Manager - Sentry Tokens{% endblock %}
{% block breadCrumbs %}
    {% if request.full_path.startswith('/profile') %}
        <li class="breadcrumb-item"><a href=/profile>Profile</a></li>
    {% elif user %}
        <li class="breadcrumb-item"><a href={{ url_for('users.users') }}>Users</a></li>
        <li class="breadcrumb-item"><a href=/u/{{ user.username }}>{{ user.username }}</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href={{ url_for('sentry_tokens.sentry_tokens') }}>Sentry Tokens</a></li>
{% endblock %}
{% block content %}
    <style>
        .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
            border-left: 0 !important;
            border-radius: .25rem !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
    <body>
    <script src="{{ url_for('sentry_tokens.static', filename='js/sentry_tokens.js') }}"></script>
    {% include 'sentry_tokensTable.html' %}
{% endblock %}
