<div class="container">
    <div class="table-responsive">
        {{ sentry_tokensTable }}
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="addSentryToken" data-toggle="modal" data-target="#addSentryTokenModal">Add Sentry Token</button>
        </div>
        {% include 'paginator.html' %}
    </div>
    <div class="modal fade" id="addSentryTokenModal" tabindex="-1" role="dialog" aria-labelledby="addSentryTokenModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSentryTokenModalLabel">Add Sentry Token</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="addSentryTokenForm" method="post" resource="{% if user %}/u/{{ user.username }}{% endif %}/sentry_tokens">
                        <div class="form-group">
                            {{ sentry_tokensForm.app_name.label }}
                            {% if sentry_tokensForm.app_name.errors %}
                                {{ sentry_tokensForm.app_name(size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                {% for error in sentry_tokensForm.app_name.errors %}
                                    <div class="invalid-feedback" id="usernameFeedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {{ sentry_tokensForm.app_name(size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                            {% endif %}
                        </div>
                        {% if current_user.sentry_auth_token %}
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    {{ sentry_tokensForm.create_sentry_app(class_="custom-control-input", hiddenObject='create_sentry_appGroup', forFields=[sentry_tokensForm.sentry_organization, sentry_tokensForm.sentry_team, sentry_tokensForm.sentry_platform], shownObject='dsnGroup', hideFields=[sentry_tokensForm.dsn]) }}
                                    {{ sentry_tokensForm.create_sentry_app.label(class_='custom-control-label') }}
                                    {% if sentry_tokensForm.create_sentry_app.description %}
                                        <small id="{{ sentry_tokensForm.create_sentry_app.id }}Help" class="form-text text-muted">{{ sentry_tokensForm.create_sentry_app.description }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="create_sentry_appGroup" {% if not sentry_tokensForm.create_sentry_app.data %}hidden{% endif %}>
                                <div class="form-group">
                                    {{ sentry_tokensForm.sentry_organization.label }}
                                    {{ sentry_tokensForm.sentry_organization(class_="custom-select") }}
                                </div>
                                <div class="form-group">
                                    {{ sentry_tokensForm.sentry_team.label }}
                                    {{ sentry_tokensForm.sentry_team(class_="custom-select") }}
                                </div>
                                <div class="form-group">
                                    {{ sentry_tokensForm.sentry_platform.label }}
                                    <small class="text-muted">{{ sentry_tokensForm.sentry_platform.description }}</small>
                                    {{ sentry_tokensForm.sentry_platform(class_="form-control") }}
                                </div>
                            </div>
                        {% endif %}
                        <div id="dsnGroup">
                            <div class="form-group">
                                {{ sentry_tokensForm.dsn.label }}
                                {% if sentry_tokensForm.dsn.errors %}
                                    {{ sentry_tokensForm.dsn(size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                    {% for error in sentry_tokensForm.dsn.errors %}
                                        <div class="invalid-feedback" id="usernameFeedback">{{ error }}</div>
                                    {% endfor %}
                                {% else %}
                                    {{ sentry_tokensForm.dsn(size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group" {% if not current_user.is_admin and not current_user.is_internal %}hidden{% endif %}>
                            {{ sentry_tokensForm.owner.label }}
                            {{ sentry_tokensForm.owner(class_="custom-select") }}
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                {{ sentry_tokensForm.enabled(checked=True, class_="custom-control-input") }}
                                {{ sentry_tokensForm.enabled.label(class_='custom-control-label') }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" tabindex="0" data-dismiss="modal">Cancel</button>
                            {#                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" id="sentryTokenCreateNew">Add and New</button>#}
                            <button type="submit" name="submit" tabindex="0" class="btn btn-primary" onclick="createItem(this, 'addSentryTokenForm', '{% if user %}/u/{{ user.username }}{% endif %}/sentry_tokens')" id="sentryTokenCreate">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if enable_tablesorter %}
        <script>
            $("#sentry_tokens_table").tablesorter({
                theme: "bootstrap",
                cancelSelection: false,
                sortReset: true
            });
        </script>
    {% endif %}
</div>