{% macro textField(form, fieldName) %}
    <div class="form-group">
        {{ form[fieldName].label }}
        {% if form[fieldName].errors %}
            {{ form[fieldName](size=16, class_="form-control is-invalid", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
            {% for error in form[fieldName].errors %}
                <div class="invalid-feedback" id="{{ fieldName }}Feedback">{{ error }}</div>
            {% endfor %}
        {% else %}
            {{ form[fieldName](size=16, class_="form-control", onkeypress="clearInvalidState(this)", oninvalid="invalidateField(this)") }}
        {% endif %}
        {% if form[fieldName].description %}
{#            <small id="headerHelp" class="form-text text-muted">{{ form[fieldName].description }}</small>#}
        {% endif %}
    </div>
{% endmacro %}