{% if paginator and route and perPage %}
    <div class="col">
        <nav aria-label="paginator">
{#            {{ macros.render_paginator(paginator, route) }}#}
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link btn{% if paginator.has_prev %}" href="{{ url_for(route, page=paginator.prev_num) }}"{% else %}disabled" href="#"{% endif %}>«</a></li>
                {% for page in paginator.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
                    {% if page %}
                        <li class="page-item{% if page == paginator.page %} active{% endif %}"><a class="page-link" href="{{ url_for(route, page=page) }}">{{ page }}</a></li>
                    {% else %}
{#                      <span class=ellipsis>…</span>#}
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link btn {% if paginator.has_next %}" href="{{ url_for(route, page=paginator.next_num) }}" {% else %}disabled" href="#"{% endif %}>»</a></li>
            </ul>
        </nav>
    </div>
    <div class="col">
        <div class="btn-group float-right">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if perPage in [10, 25, 50, 100] %}Showing {{ perPage }} results per page{% else %}Showing all results{% endif %}</button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ url_for(route, page=paginator.page, perPage=10) }}">10</a>
                <a class="dropdown-item" href="{{ url_for(route, page=paginator.page, perPage=25) }}">25</a>
                <a class="dropdown-item" href="{{ url_for(route, page=paginator.page, perPage=50) }}">50</a>
                <a class="dropdown-item" href="{{ url_for(route, page=paginator.page, perPage=100) }}">100</a>
                <a class="dropdown-item" href="{{ url_for(route, page=paginator.page, perPage=0) }}">All</a>
            </div>
        </div>
    </div>
{% endif %}